.cm-flight-result-container.ticket_booking {
  background: #0E5B93;
}

.banner-form-inside .cm-fl-search-form>div+div {
  margin-top: 10px;
  border: 1px solid #ababab;
  background: #fff;
}

.cm-fl-search-form .cm-radio-field label+label {
  margin-left: 20px;
}

.cm-fl-search-form .cm-radio-field label span {
  padding-left: 6px;
  font-weight: 600;
}

.cm-fl-search-form .cm-mid-wrap label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #ababab;
  font-size: 14px;
}

.cm-fl-search-form .cm-form-field i {
  color: #0E5B93;
}

.cm-srch-inp {
  width: 24%;
}

.cm-form-field.date-field {
  width: 24%;
}

.select-type span.cm-pointer {
  padding: 8px 15px;
  background: #fff;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(192, 202, 213);
}

.select-type span.cm-pointer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-type {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.select-type .cm-class-select,
.select-type .cm-trav-select {
  width: 32.33%;
}

.cm-fl-search-btn button.cm-btn {
  background: #0E5B93;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
  border-radius: 5px;
}

.ticket_booking .cm-fl-search-form {
  padding: 20px 0px;
}

.ticket_booking .cm-form-field {
  width: 22%;
}

.ticket_booking .cm-form-field.cm-srch-inp {
  width: 25%;
  line-height: 27px;
}

.ticket_booking .cm-fl-search-btn button.cm-btn {
  padding: 24px 30px;
}

.ticket_booking .cm-fl-search-btn button i {
  font-size: 20px;
}

.select-type span.cm-pointer {
  font-size: 14px;
  color: rgb(79, 111, 143);
}

.cm-trav-wrap-sb-active .cm-sb-ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.cm-form-field {
  margin-bottom: 0 !important;
  padding: 10px;
}

.inside-banner-form .cm-form-field {
  border-right: 1px solid #ababab;
}

.cm-bottom-wrap {
  width: 6%;
  background: #0E5B93;
}

.cm-fl-search-form .cm-form-field.cm-srch-inp input[type="text"] {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}

.cm-date-selector input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0 !important;
}

.cm-form-field i {
  display: none;
}

.cm-search-inputs .cm-sb-ul,
.cm-fl-class-sb-active .cm-sb-ul,
.cm-trav-wrap-sb-active .cm-sb-ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.cm-trav-wrap ul li {
  padding: 13px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cm-trav-wrap ul li button {
  background-color: #0060e3;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  color: #fff;
}

.cm-trav-wrap ul li span {
  display: block;
  width: calc(100% - 70px);
  padding: 0 10px;
  color: var(--secCol);
  text-align: center;
  font-weight: 600;
}


.cm-fl-class-select ul li,
.cm-search-inputs ul li {
  padding: 9px 15px;
}

.cm-search-inputs ul li+li,
.cm-fl-class-select ul li+li {
  border-top: 1px solid #f2f2f2;
}

.cm-search-inputs ul li:hover {
  background: #0E5B93;
}

.cm-search-inputs ul li:hover * {
  color: #fff !important;
}

.cm-search-inputs ul li:hover .material-symbols-outlined {
  color: #000 !important;
}

.cm-date-selector i,
.cm-search-inputs .cm-content i {
  position: absolute;
  top: calc(50% - 8px);
  left: 10px;
  z-index: 1;
  width: 0px;
}

.cm-search-inputs .cm-sb-ul {
  width: 100%;
}

.cm-fl-search-form .cm-bottom-wrap>div {
  flex: initial;
}

.cm-fl-search-form .cm-bottom-wrap .cm-fl-search-btn {
  flex: 1;
  width: 100%;
}

.cm-fl-search-form .cm-bottom-wrap {
  align-items: center;
}

.cm-datepicker-disabled {
  pointer-events: none;
}

.cm-datepicker-disabled input[type="text"] {
  background-color: #fff !important;
}

.cm-result-list>li>p>span {
  display: block;
}

.cm-result-list>li>p>span:first-child {
  font-size: 18px;
  color: #0E5B93;
  font-weight: 600;
}

.cm-result-list>li>span {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}

.cm-result-list>li>p>span+span {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 100%;
}

.banner-form-inside .cm-fl-search-form .cm-radio-field label span {
  color: #fff;
}

.banner-form-inside .cm-trav-wrap span {
  color: #fff;
}

.banner-form-inside .cm-class-select span {
  color: #fff;
}

@media(max-width: 1200px) {
  .ticket_booking .cm-fl-search-form {
    padding: 20px 20px 0;
  }

  .ticket_booking .cm-form-field.cm-srch-inp {
    width: 27%;
  }

  .ticket_booking .cm-form-field {
    width: 18%;
  }

  .cm-fl-search-form .cm-bottom-wrap {
    padding: 0;
  }
}

@media(max-width: 1023px) {
  .ticket_booking .cm-fl-search-form {
    padding: 10px 0px 20px;
  }

  .cm-fl-search-form .cm-bottom-wrap {
    padding: 0 15px;
  }
}

@media(max-width: 767px) {
  .select-type span.cm-pointer {
    padding: 9px;
  }

  .cm-form-field select,
  .cm-form-field input,
  .cm-form-field textarea {
    padding: 10px;
    font-size: 12px;
  }

  .select-type span.cm-pointer {
    padding: 10px 14px;
    font-size: 14px;
  }

  .cm-trav-wrap ul li {
    padding: 8px 10px;
    justify-content: space-between;
  }

  .cm-trav-wrap ul li span {
    width: calc(100% - 58px);
    padding: 0 6px;
  }

  .cm-fl-search-btn {
    width: 100%;
  }

  .cm-fl-search-btn button.cm-btn {
    padding: 8px 20px;
    width: 100%;
  }

  .ticket_booking .cm-radio-field {
    flex-wrap: wrap;
  }

  .ticket_booking .cm-radio-field label.cm-pointer {
    width: 37%;
    margin-bottom: 15px;
  }

  .ticket_booking .cm-radio-field .cm-lr-pad {
    width: 46%;
    padding: 0;
  }

  .ticket_booking .cm-form-field.cm-srch-inp {
    width: 100%;
  }

  .ticket_booking .cm-form-field {
    width: 100%;
  }

  .form-modal-content .cm-bottom-wrap {
    padding: 0;
    width: 100%;
  }

  .form-modal-content .cm-fl-search-btn {
    width: 100%;
    margin-top: 10px;
  }

  .form-modal-content .cm-fl-search-btn button {
    width: 100%;
  }
}

/* new booking form */
.date-selector {
  width: 100%;
}

.cm-form-field.date-field {
  width: 24%;
}

.cm-fl-search-btn {
  width: 32.33%;
}

.cm-radio-field {
  margin-bottom: 15px;
}

@media(max-width:480px) {
  .cm-srch-inp {
    width: 100% !important;
  }

  .cm-form-field {
    margin-bottom: 0px;
  }

  .cm-form-field.date-field {
    width: 100% !important;
  }

  .select-type {
    margin-bottom: 0px;
  }

  .select-type .cm-class-select,
  .select-type .cm-trav-select {
    width: 100% !important;
  }

  .cm-search-inputs .cm-sb-ul,
  .cm-fl-class-sb-active .cm-sb-ul,
  .cm-trav-wrap-sb-active .cm-sb-ul {
    min-width: 100%;
  }

  .cm-result-list>li>p>span+span {
    font-size: 12px;
  }

  .cm-result-list>li>p>span:first-child {
    font-size: 13px;
  }

  .react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0px;
    z-index: 9;
  }

  .react-datepicker-popper[data-placement^=top] {
    padding-bottom: 0px;
  }
}